@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #181d24 !important;
}

/* variables */
/* develop  */
.menu-bar {
  display: none;
}

/*-----------*/
header {
  height: 90px;
  background-color: #181d24;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
header .center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .center .logo img {
  width: 150px;
}

.first-section .main-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/img/slider.jpg");
  background-position: center;
  background-size: cover;
}
.first-section .main-img .title h1 {
  font-size: 80px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  letter-spacing: 8px;
  line-height: 75px;
}
.first-section .main-img .title h2 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 45px;
  color: #fff;
  letter-spacing: 3px;
}
.first-section form .filters {
  padding: 20px;
}
.first-section form .filters select {
  border-radius: 0;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6f6f6f;
}
.first-section form .filters .row .col a {
  width: 100%;
  padding: 15px;
  border-radius: 0;
}
.first-section form .filters .row .col button {
  width: 100%;
  padding: 15px;
  border-radius: 0;
  background-color: #ffcb00;
}

.second-section {
  background-image: url("/img/banner-01-home.jpg");
  background-position: center;
  background-size: cover;
}
.second-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  gap: 20px;
}
.second-section .call-to-action h2 {
  font-family: "Caveat", cursive;
  color: #978510;
  font-size: 60px;
  letter-spacing: 3px;
}
.second-section .boxes .box {
  margin: 20px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #181d24;
  z-index: 10;
}
.second-section .boxes .box .top {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}
.second-section .boxes .box .top .yellow {
  width: 50px;
  min-height: 115px;
  background-color: #ffcb00;
}
.second-section .boxes .box .top h4 {
  color: #ffcb00;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px;
  width: 100%;
}
.second-section .boxes .box .buttom {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
}
.second-section .boxes .box .buttom .gray {
  width: 40px;
  min-height: 115px;
  background-color: #6f6f6f;
}
.second-section .boxes .box .buttom span {
  font-size: 56px;
  color: #fff;
  padding: 20px;
  font-weight: 300;
}
.second-section .boxes .box .buttom h4 {
  color: #fff;
  padding: 20px 0px;
  font-size: 16px;
}

.three-section .title-top {
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.three-section .title-top h2 {
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 3px;
}
.three-section .title-top h4 {
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 3px;
  color: #978510;
  margin-top: -25px;
}
.three-section .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  border-radius: 0;
  background-color: #3c4146;
  color: #fff;
}
.three-section .card .bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.three-section .card .bottom .content-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}
.three-section .card .bottom .ref {
  background-color: #978510;
  padding: 3px 20px;
}
.three-section .card .bottom .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.three-section .card .bottom .title .left h4 {
  font-size: 20px;
  font-weight: 500;
}
.three-section .card .bottom .content .price {
  font-size: 24px;
  color: #ffcb00;
}
.three-section .card:hover {
  background-color: #181d24;
}
.three-section .photos {
  padding: 20px;
}
.three-section .photos img {
  margin-top: 20px;
}
.three-section .photos h2 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 3px;
}
.three-section .photos h4 {
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 3px;
  color: #978510;
  margin-top: -25px;
}
.three-section .photos a {
  width: 100%;
  border-radius: 0;
  padding: 15px;
  background-color: #978510;
  border: none;
}
.three-section .title2 {
  text-align: center;
}
.three-section .title2 h2 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 3px;
}
.three-section .title2 h4 {
  font-family: "Caveat", cursive;
  font-size: 40px;
  letter-spacing: 3px;
  color: #978510;
  margin-top: -25px;
}
.three-section .card2 {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  border-radius: 0;
  color: #fff;
}
.three-section .card2 .bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.three-section .card2 .bottom .price {
  color: #978510;
}
.three-section .view-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.three-section .view-more span h4 {
  min-width: 150px;
}/*# sourceMappingURL=style.css.map */