@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #181d24 !important;
}

/* variables */
$font-cursive: 'Caveat', cursive;

/* develop  */
.menu-bar {
    display: none;
}

/*-----------*/

header {
    height: 90px;
    background-color: #181d24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .logo {
            img {
                width: 150px;
            }
        }
    }
}

.first-section {

    .main-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/img/slider.jpg');
        background-position: center;
        background-size: cover;

        .title {

            h1 {
                font-size: 80px;
                font-weight: 300;
                color: #fff;
                text-align: center;
                letter-spacing: 8px;
                line-height: 75px;
            }

            h2 {
                text-align: center;
                font-family: $font-cursive;
                font-size: 45px;
                color: #fff;
                letter-spacing: 3px;
            }
        }
    }

    form {
        .filters {
            padding: 20px;

            select {
                border-radius: 0;
                padding: 15px;
                margin-bottom: 20px;
                font-size: 14px;
                color: #6f6f6f;
            }

            .row {
                .col {
                    a {
                        width: 100%;
                        padding: 15px;
                        border-radius: 0;
                    }

                    button {
                        width: 100%;
                        padding: 15px;
                        border-radius: 0;
                        background-color: #ffcb00;
                    }
                }
            }
        }
    }
}

.second-section {
    background-image: url('/img/banner-01-home.jpg');
    background-position: center;
    background-size: cover;

    .call-to-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 20px;
        gap: 20px;

        h2 {
            font-family: 'Caveat', cursive;
            color: #978510;
            font-size: 60px;
            letter-spacing: 3px;
        }
    }

    .boxes {

        .box {
            margin: 20px;
            height: 330px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: #181d24;
            z-index: 10;

            .top {
                width: 100%;
                display: flex;
                align-items: start;
                justify-content: start;


                .yellow {
                    width: 50px;
                    min-height: 115px;
                    background-color: #ffcb00;
                }

                h4 {
                    color: #ffcb00;
                    font-size: 22px;
                    font-weight: 700;
                    letter-spacing: 3px;
                    padding: 20px;
                    width: 100%;
                }

            }

            .buttom {
                width: 100%;
                display: flex;
                align-items: end;
                justify-content: start;

                .gray {
                    width: 40px;
                    min-height: 115px;
                    background-color: #6f6f6f;
                }

                span {
                    font-size: 56px;
                    color: #fff;
                    padding: 20px;
                    font-weight: 300;
                }

                h4 {
                    color: #fff;
                    padding: 20px 0px;
                    font-size: 16px;

                }

            }
        }
    }

}

.three-section {

    .title-top {
        padding: 100px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 40px;
            font-weight: 300;
            color: #fff;
            letter-spacing: 3px;
        }

        h4 {
            font-family: $font-cursive;
            font-size: 40px;
            letter-spacing: 3px;
            color: #978510;
            margin-top: -25px;
        }
    }


    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        border-radius: 0;
        background-color: #3c4146;
        color: #fff;

        .bottom {
            padding-top: 20px;
            padding-bottom: 20px;

            .content-card {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 5px;
            }

            .ref {
                background-color: #978510;
                padding: 3px 20px;
            }

            width: 100%;

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {

                    h4 {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }

            .content {
                .price {
                    font-size: 24px;
                    color: #ffcb00;
                }
            }

        }
    }

    .card:hover {
        background-color: #181d24;
    }

    .photos {
        padding: 20px;

        img {
            margin-top: 20px;
        }

        h2 {
            margin-top: 20px;
            font-size: 40px;
            font-weight: 300;
            color: #fff;
            letter-spacing: 3px;
        }

        h4 {
            font-family: $font-cursive;
            font-size: 40px;
            letter-spacing: 3px;
            color: #978510;
            margin-top: -25px;
        }

        a {
            width: 100%;
            border-radius: 0;
            padding: 15px;
            background-color: #978510;
            border: none;
        }
    }

    .title2 {

        text-align: center;

        h2 {
            margin-top: 50px;
            font-size: 40px;
            font-weight: 300;
            color: #fff;
            letter-spacing: 3px;
        }

        h4 {
            font-family: $font-cursive;
            font-size: 40px;
            letter-spacing: 3px;
            color: #978510;
            margin-top: -25px;
        }
    }

    .card2 {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        border-radius: 0;
        color: #fff;

        .bottom {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .price {
                color: #978510;
            }
        }
    }

    .view-more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        h4 {
            font-family: $font-cursive;
            font-size: 24px;
            color: #978510;
            max-width: 130px;
            text-align: center;
        }

    }

    .info {
        padding: 20px;

        img {
            margin-top: 20px;
        }

        h5 {
            margin-top: 20px;
            font-size: 20px;
            color: #978510;
            line-height: 30px;
            text-transform: uppercase;
        }

        p {
            margin-top: 20px;
            color: #fff;
            font-size: 15px;
        }

        a {
            border-radius: 0;
            color: #978510;
            border: 1px #978510 solid;
            padding: 15px;
        }
    }
}

.four-section {

    background-color: #fff;
    padding: 20px;

    .title {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-top: 50px;

        h2 {
            font-size: 42px;
            font-weight: 300;
            letter-spacing: 3px;
        }

        h4 {
            font-family: $font-cursive;
            font-size: 42px;
            margin-top: -25px;
            color: #978510;
            text-align: center;
        }

        a {
            img {
                width: 54px;
            }
        }
    }

    .cards {

        margin-bottom: 50px;

        .card1 {
            height: 400px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            padding: 20px;
            background-image: url('/img/property_4.jpg');
            background-position: center;
            background-size: cover;

            h4 {
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                color: #fff;
            }

            p {
                color: #fff;
                font-size: 15px;
            }
        }

        .card2 {
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            padding: 20px;
            background-image: url('/img/property_3.jpg');
            background-position: center;
            background-size: cover;

            h4 {
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                color: #fff;
            }

            p {
                color: #fff;
                font-size: 15px;
            }
        }
    }
}

.contact {

    .form-contact {
        background-color: #978510;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50px;

        h2 {
            font-size: 40px;
            font-weight: 300;
        }

        .nosotros {
            margin-top: -30px;
        }

        h4 {
            font-family: $font-cursive;
            font-size: 45px;
            color: #fff;
            text-align: center;
            margin-top: -25px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            input {
                border-bottom: 1px solid #fff;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                background-color: transparent;
                padding: 15px;

            }

            input::placeholder {
                color: #fff;
            }

            .gdrp {
                display: flex;
                color: #fff;
                font-size: 12px;
                gap: 10px;

                .form-check-input {
                    border: 1px #fff solid;
                }

                .form-check {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                a {
                    color: #fff;
                }
            }

            .btn{
                border-radius: 0px;
                padding: 15px;
            }
        }
    }
}

footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    a{
        font-size: 26px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding-top: 10px;
    }

    .contact-points{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        a{
            font-size: 18px;
        }
    }

    .legal{
        margin-top: 20px;
        padding: 20px;
        background-color: #978510;
        font-size: 15px;
        color: #fff;

        a{
            font-size: 15px;
        }

        h4{
            text-align: center;
            font-size: 15px;
        }
    }
}

.whatssap-fixed{
    position: fixed;
}

.action-fixed{
    position: fixed;
}